<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Edicion del pedido</h1>

		<div class="card">
			<div class="card-header">Edicion pedido</div>
			<div class="card-body">

				<form th:action="@{/pedido/save}" th:object="${pedido}" method="post">

					<div class="form-group">
						<label for="nombre_pedido">Nombre Pedido</label><input type="text" 
						class="control-label col-md-3" placeholder="Nombre de Pedido" 
						th:field="*{nombre_pedido}" />
						
					</div>

					
					<div class="form-group">
						<label for="plato">Plato:</label> 
						<select th:field="*{plato}" class="form-control">
					      <option th:each="platos : ${platos}"
					      	th:value="${platos.id}" th:text="${platos.nombre}"></option>
					    </select>
						
					</div>
					
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/}" class="btn btn-danger"> <i
						class="fas fa-undo"></i> Cancelar
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>