.usuario-img-carrito{
    margin-top: -10px;
    margin-left: 40px;
    margin-bottom: 25px;
}

.usuario-img-carrito img{
    width: 120xp;
    height: 120px;
   
}
.tabla-color-body{
	background-color: #EBEAEA;
}